<app-header></app-header>

<!-- Main content sections -->
<main class="container my-4 smooth">
  <section id="home" class="section mb-5"><app-home></app-home></section>
  <section id="about" class="section mb-5"><app-about></app-about></section>
  <section id="skills" class="section mb-5"><app-skills></app-skills></section>
  <section id="experience" class="section mb-5"><app-experience></app-experience></section>
  <section id="education" class="section mb-5"><app-education></app-education></section>
  <section id="testimonials" class="section mb-5"><app-testimonials></app-testimonials></section>
  <section id="articles" class="section mb-5"><app-articles></app-articles></section>
  <section id="contact" class="section mb-5"><app-contact></app-contact></section>
</main>


<app-footer></app-footer>